.topMoving {
  width: 100%;
}

.topMovingCoins {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  gap: 1rem;
}

.topMoving a {
  color: var(--secondary-color);
  transition: 0.2s;
}

.topMoving a:hover {
  color: var(--secondary-color);
}

.topMoving a:hover div {
  color: var(--secondary-color);
  background-color: var(--light-gray);
  transition: 0.2s;
}
