.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.portfolio .title {
  font-size: var(--big-text);
  font-weight: bold;
}
