.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
}

.portfolio .title {
  font-size: var(--big-text);
  font-weight: bold;
  margin-bottom: 1rem;
}

.portfolioCoinsList {
  width: 100%;
}

.portfolio .row {
  display: flex;
  overflow-x: scroll;
  gap: 1rem;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.head .add {
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.2s;
}

.head .add:hover {
  color: var(--brand-color);
}
