@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --brand-color: #3a80e9;
  --primary-color: #000;
  --secondary-color: #fff;
  --gray: #1b1b1b;
  --light-gray: #2e2e2e;
  --negative: #be0c0c;
  --positive: #02b429;

  --very-big-text: 6rem;
  --big-text: 2.5rem;
  --heading: 2rem;
  --title: 1.5rem;
  --body: 1.25rem;
  --small-text: 0.8rem;
  --sub-text: 0.75rem;

  --chart-height: 25rem;

  --white: #fff;
  --black: #111;
  --blue: #3a80e9;

  color-scheme: light dark;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

a {
  font-weight: 500;
  color: var(--blue);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-color: #fff;
    --secondary-color: #000;
    --gray: #f0f0f0;
    --light-gray: #e5e5e5;
  }
}

@media (max-width: 800px) {
  :root {
    --very-big-text: 6rem;
    --big-text: 1.8rem;
    --heading: 1.2rem;
    --title: 1.2rem;
    --body: 1rem;
    --small-text: 0.5rem;
    --sub-text: 0.35rem;

    --chart-height: 25rem;
  }
}
