.marketStats {
  width: 100%;
}

.stats {
  display: flex;
  gap: 1rem;
  width: 100%;
  overflow-x: scroll;
  margin: 1rem 0;
}

@media (max-width: 800px) {
  .stats {
    gap: 0;
    margin: 0;
  }
}
