.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  position: sticky;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
}

.navbar .brand {
  font-size: var(--big-text);
  font-weight: bold;
  color: var(--brand-color);
}

.navbar .right {
  flex: 0.1;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .navbar .right {
    flex: 0.15;
  }
}

@media (max-width: 1200px) {
  .navbar .right {
    flex: 0.2;
  }
}

@media (max-width: 1000px) {
  .navbar .right {
    flex: 0.3;
  }
}
