.marketStatComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.75rem;
  background-color: var(--gray);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  min-width: 30%;
}

.marketStatComponent .top {
  font-size: var(--small-text);
  font-weight: normal;
}

.marketStatComponent .between {
  font-size: var(--heading);
  font-weight: bold;
}

.marketStatComponent .bottom {
  font-size: var(--body);
  font-weight: normal;
}
