.coinsList a {
  color: inherit;
  transition: 0.2s;
}

.coinsList a:hover {
  color: inherit;
  background-color: var(--gray);
  border-radius: 10px;
}

.coinElement {
  padding: 0.5rem;
  margin: 0.5rem;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.tableColumn {
  display: flex;
  gap: 1rem;
}

.tableElement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.right .rowEl {
  text-align: right;
}

.column {
  display: flex;
  flex-direction: column;
}

.tableColumn img {
  width: 25px;
  height: 25px;
}

.coinElement #symbol {
  text-transform: uppercase;
}
